@charset "UTF-8";

html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white !important;
}

/*.overflow-hidden {*/
    /*overflow: hidden;*/
/*}*/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul { list-style: none; padding: 0; }
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

a:hover {
    color: #0b559c !important;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

video {
    object-fit: fill;
}

h1 {
    text-transform: uppercase;
    color: #4c4b4b;
    font-size: 34px;
}

p {margin: 0; font-size: 14px;}

textarea {resize: none;}

.float-right {
    float: right;
}

.location h1,
.energy-heading h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    padding-top: 50px;
}

.energy-heading h1 {
    padding-top: 0;
    margin-top: 0;
}

@media (max-width: 768px) {
    .location h1,
    .energy-heading h1 {
        font-size: 24px;
    }
}

.card {
    height: 100%;
    -webkit-box-shadow: -18px 19px 32px 5px rgba(0,0,0,0.05) !important;
    -moz-box-shadow: -18px 19px 32px 5px rgba(0,0,0,0.05) !important;
    box-shadow: -18px 19px 32px 5px rgba(0,0,0,0.05) !important;
    transition: 0.3s all ease-in-out;
}

.empty-legs .card {
    margin: 50px 0;
}

.empty-legs .card:hover {
    -webkit-box-shadow: -18px 19px 32px 5px rgba(0,0,0,0.05) !important;
    -moz-box-shadow: -18px 19px 32px 5px rgba(0,0,0,0.05) !important;
    box-shadow: -18px 19px 32px 5px rgba(0,0,0,0.05) !important;
}


.card:hover {
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.06) !important;
    -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.06) !important;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.06) !important;

}

.fleet {
    padding-top: 50px !important;
}

.fleet-top {
    margin-bottom: 25px;
    border-bottom: 5px solid #e7eaef;
}

.fleet-top p {
    font-size: 18px !important;
    font-weight: 300;
    padding-bottom: 10px;
}

.fleet h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 15px;
}

.fleet h5 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 35px;
}

.fleet h6 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.fleet span {
    font-size: 12px;
}

.fleet p {
    margin: 15px 0;
    font-size: 12px;
    line-height: 1.5;
}

.aircraft-title {
    font-size: 18px;
    margin-top: 12px;
    padding: 0 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    min-height: 50px;
}

.post-title {
    font-size: 28px;
    margin-top: 12px;
    font-weight: 600;
    margin-bottom: 14px;
    line-height: 100%!important;
}

.post-date {
    font-size: 12px;
    color: #8d8d8d;
}

.post-meta {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.post-teaser {
    color: #8d8d8d;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    padding-bottom: 30px;
}

.post-content {
    max-width: 90%;
    margin: 0 auto;
}

.post-content p {
    font-size: 14px;
    line-height: 1.8;
    margin: 0 0 10px;
    color: #8d8d8d;
    font-weight: 400;
}

.post-content h1 {
    color: #3f3f3f;
    font-weight: 600;
    text-transform: initial;
    font-size: 32px;

}

.post-content a {
    color: cornflowerblue;
}

.post-categories {
    border-top: 1px solid #e9e9e9;
    margin-left: -13%;
    margin-right: 50px;
    padding: 19px 0px 19px 12%;
}

.button-air {
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font: 16px 'Open Sans', sans-serif;
    min-width: 230px;
    padding: 20px 40px;
    border: none;
    margin-bottom: 10px;
}

.air-button-container {
    margin-bottom: 30px;
}

.air-button-container p {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}

.button, .button-cat {
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font: 13px 'Open Sans', sans-serif;
    min-width: 150px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 10px;
    background: #e2383f;
    color: #fff;
}

.military-content table {
    margin: 0 auto !important;
}

.button-cat {
    font-weight: 500 !important;
    margin: 5px !important;
    min-width: unset;
}

.button:hover, .button-cat:hover, .button-air:hover {
    filter: brightness(85%);
    color: white !important;
}

.button-air-white:hover {
    color: black !important;
}

.hidden {
    display: none !important;
}

.absolute {
    position: absolute !important;
}

.header {
    border-bottom: 1px solid #F3F3F3;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: white;
}

.player {
    position: absolute;
}

.hero-img {
    height: 100%;
    width: 100%;
    position: absolute;
    filter: brightness(75%);
    background-size: cover !important;
    background-position: center !important;
}

.sectionHeadImg {
    height: 60vh;
    width: 70%;
    margin-top: 50px;
}

.tac-air-services .sectionHeadImg {
    margin-top: 0;
}

.keystone .container {
    max-width: 1200px;
    margin: 0 auto;
}

.keystone .subpageImg {
    width: 33%;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.keystone .subpage-inner {
   padding: 0;
}

.subpageImg {
    width: 50%;
    height: 90vh;
    margin-top: 0;
}

.location-list a {
    margin: 10px 0;
    display: block;
    color: white;
    cursor: pointer;
}

.location-list a:hover {
    color: #0b559c;
}

.banner-card, .subpage-card {
    position: absolute;
    background: rgba(255,255,255,0.96);
    max-width: 575px;
    min-height: 300px;
    top: 25%;
    left: 0;
    -webkit-box-shadow: -10px 13px 32px 5px rgba(0,0,0,0.09);
    -moz-box-shadow: -10px 13px 32px 5px rgba(0,0,0,0.09);
    box-shadow: -10px 13px 32px 5px rgba(0,0,0,0.09);
    margin-left: 10%;
}

.air .banner-card {
    top: 18%;
}

.keystone .subpage-card {
    max-width: 67%;
    min-height: 50vh;
}

.energy .subpage-card {
    top: auto;
}

.subpage-card {
    /*min-height: 70vh;*/
    max-width: 50%;
    align-self: center;
    margin-left: 0;
    box-shadow: none;
}

.banner-card-inner {
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-card-inner h1 {
    text-transform: uppercase;
    color: #4c4b4b;
    margin: 0;
    line-height: 34px;
    padding: 15px 5px;
    font-size: 32px;
    letter-spacing: 2px;
}

.banner-card-inner div {
    padding: 5px 5px;
    font-size: 16px;
    letter-spacing: 1.1px;
    color: #626262;
    line-height: 25px;
    width: 80%;
}

.subpage-inner {
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subpage-inner h1 {
    text-transform: uppercase;
    color: #4c4b4b;
    line-height: 34px;
    margin: 0;
    padding: 15px 5px;
    font-size: 27px;
    letter-spacing: 2px;
}

.subpage-inner div {
    padding: 5px 5px;
    font-size: 14px;
    letter-spacing: 1.1px;
    color: #626262;
    line-height: 20px;
    width: 90%;
}

@media (max-width: 768px) {
    .banner-card {
        position: relative;
        background: rgba(255,255,255,0.96);
        width: 100%;
        min-height: 300px;
        left: unset;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-left: 0;
        max-width: inherit;
    }

    .subpage-card {
        position: unset;
        max-width: 100%;
    }

    .sectionHeadImg, .subpageImg {
        width: 100%;
        height: 60vh;
        margin-top: 0;
    }

    .banner-card-inner h1, .subpage-inner h1{
        font-size: 28px;
    }

    .banner-card-inner div, .subpage-inner div {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .right {
        right: unset;
        left: unset;
        margin-left: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-right: 0;
    }

}

@media (max-width: 992px) {
    .subpage-card {
        max-width: 100%;
    }

    .subpageImg {
        width: 100%;
    }

    .subpage-inner h1{
        font-size: 28px;
    }

    .subpage-inner div {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
    .float-right {
        float: unset;
    }
}

.right {
    right: 0 !important;
    left: auto;
    margin-left: 0;
    -webkit-box-shadow: 10px 13px 32px 5px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 13px 32px 5px rgba(0,0,0,0.09);
    box-shadow: 10px 13px 32px 5px rgba(0,0,0,0.09);
    margin-right: 10%;
}

@media (max-width: 768px) {

    .right {
        right: unset;
        left: unset;
        margin-left: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-right: 0;
    }

}

.subpage-right {
    right: 0 !important;
    left: auto;
    margin-left: 0;
    margin-right: 0;
}

.container {
    padding: 0 20px 20px;
    max-width: 1170px;
    margin: 0 auto;
}
.header-container {
    padding: 0 30px;
    max-width: 1170px;
    margin: 0 auto;
}

.footer-container {
    padding: 0 20px;
    max-width: 1170px;
    margin: 0 auto;
}

.footer-container h5 {
    font-weight: 600;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    margin: 0;
}

.hero-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    position: inherit;
    z-index: 2;
}

.hero-title, .hero-title h1 {
    font-size: 64px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
}

.hero-excerpt {
    color: white;
    line-height: 27px;
}


@media (max-width: 576px) {
    .hero-title, .hero-title h1 {
        font-size: 36px;
    }
    .hero-excerpt {
        line-height: 21px;
        font-size: 14px;
    }
}

.hamburger-button {
    color: #0b559c;
    font-size: 34px !important;
}

.hero h1 a {
    color: #fff;
    text-decoration: none;
}

.cta-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 75px 50px;
}

.cta-content {
    padding: 0 75px;
    max-width: 700px;
}

.cta-content h2 {
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.cta-content p {
    color: #f3f3f3;
    font-size: 14px;
    padding: 20px 0px 35px 0px;
}

@media (max-width: 768px) {
    .cta-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 40px 0 15px 0;
    }
    .cta-content {
        padding: 10px 50px;
    }

    .cta-content h2, .cta-content p {
        text-align: center;
    }

    .cta-pad-right, .cta-pad-left {
        padding: 0 !important;
    }
}

.air-locations, .selling_processes {
    background-color: #8b8b8b;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 60px;
    letter-spacing: 2px;
}

.selling_processes {
    background-color: rgb(226, 56, 63) !important;
}

.selling_processes ul {
    list-style: inherit;
}

.selling_processes ul li {
    padding: 2px 0;
}

.selling_processes .inner {
    margin: 50px;
}

@media (max-width: 768px) {
    .selling_processes {
        padding: 5px;
    }

    .selling_processes td {
        padding: 5px 5px;
    }

    .selling_processes h1 {
        font-size: 23px;
    }

    .selling_processes ul li {
        font-size: 12px;
    }

    .selling_processes .inner {
        margin-left: 5px;
    }
}

.cta-pad-left {
    padding-left: 10px;
}

.cta-pad-right {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .cta-pad-left {
        padding-left: 0;
    }

    .cta-pad-right {
        padding-right: 0;
    }
}

.contact .cta-wrapper {
    flex-direction: column;
}

.contact form label input, .contact textarea {
    border: 1px solid #333 !important;
}

.location-card {
    border: 1px solid #F2F2F2 !important;
    border-radius: 5px !important;
    color: #495E6E;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    min-height: 300px;
}

.location-card.contacts {
    min-height: 230px;
}

.location-card h3 {
    border-bottom: 1px solid #F2F2F2 !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 16px !important;
    text-transform: uppercase !important;
}

.location-card p {
    color: #495E6E;
    font-size: 16px;
    line-height: 1.5;
}

.location-card-list {
    padding: 10px 0;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.location-card-list.contacts {
    justify-content: flex-start;
    height: auto;
}

.location-card-list-item {
    display: flex;
    padding: 7px 15px;
}

.location-card-list-item.contacts {
    padding: 12px 15px;
}

.location-card-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.location-card-link {
    color: #495E6E;
}

.grid {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.footer-top-nav-item {
    padding: 15px 10px;
}

.footer-top-nav-item ul {
    list-style: none;
    padding: 0;
}

.footer-top-nav-item ul li {
    line-height: 1.8;
}

.footer-top-nav-item ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.home .cta-wrapper {
    padding: 50px 0px 20px 0px;
}

.home form label, textarea {
    width: 100%;
}

.investments .cta-wrapper {
    padding: 10px 0px 10px 0px;
}

.investments form label, textarea {
    width: 100%;
}

.keystone .cta-wrapper {
    padding: 50px 0px 20px 0px;
}

.keystone form label, textarea {
    width: 100%;
}

.air .cta-wrapper {
    padding: 50px 0px 20px 0px;
}

.air form label, textarea {
    width: 100%;
}

form label {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0;
}

.energy form label {
    padding: 0 5px;
}

.energy .cta-wrapper img {
    align-self: flex-start;
}

@media (max-width: 576px) {
    form label, textarea {
        width: 100% !important;
        display: block;
    }
    form label select {
        width: 100%;
    }
    .energy .cta-wrapper img {
        align-self: center;
    }
}

form label input, textarea, select {
    font: 18px 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: none;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.investments form label input {
    padding: 12px;
}

.investments form input[type="submit"] {
    padding: 12px 40px !important;
}

form label select {
    width: 100%;
    color: #999;
}

form label input::placeholder, textarea::placeholder, select::placeholder {
    transition: all 0.2s ease-in-out;
    color: #999;
    font: 18px 'Open Sans', sans-serif;
}

form label input:focus, form label textarea:focus, form label select:focus, form label input.populated, form label select.populated, form label textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
}

.energy form label input:focus, form label textarea:focus, form label input.populated, form label textarea.populated {
    padding: 20px !important;
}

form label input:focus::placeholder, form label textarea:focus::placeholder, form label input.populated::placeholder, form label textarea.populated::placeholder {
    color: transparent;
}

form label input:focus + span, form label input.populated + span, form label textarea:focus + span, form label textarea.populated + span {
    opacity: 1;
    top: 10px;
}

.energy form label input:focus + span, form label input.populated + span, form label textarea:focus + span, form label textarea.populated + span {
    top: 5px;
}

form label span {
    color: #e2383f;
    font: 13px 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 992px) {
    form input[value="SUBMIT"] {
        position: relative !important;
    }

    .energy form input[type="submit"] {
        width: 75% !important;
    }
}

form input[type="submit"] {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    font: 18px 'Open Sans', sans-serif;
    border: none;
    margin-left: 15px;
    position: absolute;
    /*background: #e2383f;*/
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    max-width: 200px;
}

.home form input[type="submit"], .keystone form input[type="submit"], .investments form input[type="submit"], .energy form input[type="submit"], .air form input[type="submit"]{
    position: relative;
}

.energy form input[type="submit"] {
    width: 34%;
    margin-left: 7px;
}

form input[type="submit"]:hover {
    filter: brightness(85%);
    cursor: pointer;
}

@font-face {
    font-family: "Ionicons";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0");
    src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal; }

.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.image-gallery {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; }
.image-gallery.fullscreen-modal {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5; }
.image-gallery.fullscreen-modal .image-gallery-content {
    top: 50%;
    transform: translateY(-50%); }

.image-gallery-content {
    position: relative;
    line-height: 0;
    top: 0; }
.image-gallery-content.fullscreen {
    background: #000; }
.image-gallery-content.fullscreen .image-gallery-slide {
    background: #000; }

.image-gallery-slide-wrapper {
    position: relative; }
.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    display: inline-block;
    width: calc(100% - 113px); }
@media (max-width: 768px) {
    .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
        width: calc(100% - 84px); } }
.image-gallery-slide-wrapper.image-gallery-rtl {
    direction: rtl; }

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 4; }
.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
    color: #fff;
    line-height: .7;
    text-shadow: 0 2px 2px #1a1a1a;
    transition: color .2s ease-out; }
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before,
.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
    color: #337ab7; }
@media (max-width: 768px) {
    .image-gallery-fullscreen-button:hover::before,
    .image-gallery-play-button:hover::before,
    .image-gallery-left-nav:hover::before,
    .image-gallery-right-nav:hover::before {
        color: #fff; } }

.image-gallery-fullscreen-button,
.image-gallery-play-button {
    bottom: 0; }
.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before {
    font-size: 2.7em;
    padding: 15px 20px;
    text-shadow: 0 1px 1px #1a1a1a; }
@media (max-width: 768px) {
    .image-gallery-fullscreen-button::before,
    .image-gallery-play-button::before {
        font-size: 2.4em; } }
@media (max-width: 480px) {
    .image-gallery-fullscreen-button::before,
    .image-gallery-play-button::before {
        font-size: 2em; } }
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before {
    color: #fff;
    transform: scale(1.1); }
@media (max-width: 768px) {
    .image-gallery-fullscreen-button:hover::before,
    .image-gallery-play-button:hover::before {
        transform: none; } }

.image-gallery-fullscreen-button {
    right: 0; }
.image-gallery-fullscreen-button::before {
    content: ""; }
.image-gallery-fullscreen-button.active::before {
    content: ""; }
.image-gallery-fullscreen-button.active:hover::before {
    transform: scale(0.9); }

.image-gallery-play-button {
    left: 0; }
.image-gallery-play-button::before {
    content: ""; }
.image-gallery-play-button.active::before {
    content: ""; }

.image-gallery-left-nav,
.image-gallery-right-nav {
    color: #fff;
    font-size: 5em;
    padding: 50px 15px;
    top: 50%;
    transform: translateY(-50%); }
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }
@media (max-width: 768px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
        font-size: 3.4em;
        padding: 20px 15px; } }
@media (max-width: 480px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
        font-size: 2.4em;
        padding: 0 15px; } }

.image-gallery-left-nav {
    left: 0; }
.image-gallery-left-nav::before {
    content: ""; }

.image-gallery-right-nav {
    right: 0; }
.image-gallery-right-nav::before {
    content: ""; }

.image-gallery-slides {
    line-height: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap; }

.image-gallery-slide {
    background: #fff;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; 
}

.image-gallery-slide.center {
    position: relative; 
}

.image-gallery-slide img {
    width: 100%;
}

.image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    bottom: 70px;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal; }
@media (max-width: 768px) {
    .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px; } }

.image-gallery-bullets {
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 80%;
    z-index: 4; }
.image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
    text-align: center; }
.image-gallery-bullets .image-gallery-bullet {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #1a1a1a;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    outline: none;
    padding: 5px; }
@media (max-width: 768px) {
    .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px; } }
@media (max-width: 480px) {
    .image-gallery-bullets .image-gallery-bullet {
        padding: 2.7px; } }
.image-gallery-bullets .image-gallery-bullet.active {
    background: #fff; }

.image-gallery-thumbnails-wrapper {
    position: relative; }
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
    direction: rtl; }
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    display: inline-block;
    vertical-align: top;
    width: 108px; }
@media (max-width: 768px) {
    .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
        width: 81px; } }
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
    height: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0; }
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
    display: block;
    margin-right: 0;
    padding: 0; }
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
    margin-left: 0; }
.image-gallery-thumbnails-wrapper.left {
    margin-right: 5px; }
@media (max-width: 768px) {
    .image-gallery-thumbnails-wrapper.left {
        margin-right: 3px; } }
.image-gallery-thumbnails-wrapper.right {
    margin-left: 5px; }
@media (max-width: 768px) {
    .image-gallery-thumbnails-wrapper.right {
        margin-left: 3px; } }

.image-gallery-thumbnails {
    overflow: hidden;
    padding: 5px 0; }
@media (max-width: 768px) {
    .image-gallery-thumbnails {
        padding: 3px 0; } }
.image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap; }

.image-gallery-thumbnail {
    display: inline-block;
    border: 4px solid transparent;
    transition: border .3s ease-out;
    width: 100px; }
@media (max-width: 768px) {
    .image-gallery-thumbnail {
        border: 3px solid transparent;
        width: 75px; } }
.image-gallery-thumbnail + .image-gallery-thumbnail {
    margin-left: 2px; }
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
    position: relative; }
.image-gallery-thumbnail img {
    vertical-align: middle;
    width: 100%; }
.image-gallery-thumbnail.active {
    border: 4px solid #337ab7; }
@media (max-width: 768px) {
    .image-gallery-thumbnail.active {
        border: 3px solid #337ab7; } }

.image-gallery-thumbnail-label {
    box-sizing: border-box;
    color: white;
    font-size: 1em;
    left: 0;
    line-height: 1em;
    padding: 5%;
    position: absolute;
    top: 50%;
    text-shadow: 1px 1px 0 black;
    transform: translateY(-50%);
    white-space: normal;
    width: 100%; }
@media (max-width: 768px) {
    .image-gallery-thumbnail-label {
        font-size: .8em;
        line-height: .8em; } }

.image-gallery-index {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4; }
@media (max-width: 768px) {
    .image-gallery-index {
        font-size: .8em;
        padding: 5px 10px; } }





@media only screen and (min-width:768px) and (max-width:1024px){
    .post-content{max-width:100%;}


}

@media only screen and (max-width:767px){
#mobile_views section{padding: 0!important;}
.post-content{max-width:100%}
}


.video-wrapper {
    position: relative;
    padding: 48.35% 0;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.play-button {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 16.5px;
    left: 40px;
    margin: 0 auto;
    border-style: solid;
    border-width: 12.5px 0 12.5px 20px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.close-video::before {
    content: '✖';
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 20px;
    z-index: 1;
    line-height: .7;
    display: block;
    color: black;
}

.vp-player-layout {
    top: 0 !important;
}


.fleet .image-gallery-image {
    /*max-height: 65vh;*/
    max-height: inherit;
}

.image-gallery-thumbnail img {
    height: 92px;
    object-fit: cover;
}

.tile-viewport img {
    object-fit: cover;
    object-position: 50% 25%;
}

.circle-loader {
    margin: 3.5em 0 5.5em;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 8em;
    height: 8em;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
}

.checkmark {
    display: none;
}
.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
    opacity: 1;
    height: 3.75em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: '';
    left: 2em;
    top: 4em;
    position: absolute;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}

.btn-wrapper {
    float: right;
    margin-bottom: 8px;
    padding: 6px 16px;
}

.request-form {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
}

.request-quote-element {
    position: relative;
    overflow: scroll;
    background: white;
    width: 500px;
    max-height: 700px;
}

.request-quote-element h1 {
    margin: 0;
    font-size: 24px;
    background: rgb(11, 85, 156);
    text-align: center;
    padding: 20px;
    font-weight: 500;
    color: white;
}

@media (max-height: 768px) {
    .request-quote-element {
        width: 80%;
        height: 80%;
    }
    .request-form {
        padding: 10px 30px;
    }

    .section-blurb {
        padding: 25px !important;
        margin: 100px 0 !important;
    }

    .air-locations {
        padding: 20px;
    }

}

.email-update-request {
    position: relative;
    overflow: scroll;
    background: white;
    width: 500px;
    max-height: 700px;
}

.email-update-request h1 {
    margin: 0;
    font-size: 24px;
    background: rgb(11, 85, 156);
    text-align: center;
    padding: 20px;
    font-weight: 500;
    color: white;
}

@media (max-height: 768px) {
    .email-update-request {
        width: 80%;
        /* height: 80%; */
    }
    .request-form {
        padding: 10px 30px;
    }

    .section-blurb {
        padding: 25px !important;
        margin: 100px 0 !important;
    }

    .air-locations {
        padding: 20px;
    }

}

.amenities {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

@media (max-height: 950px) {
    .amenities {
        display:block;
    }
}

.section-blurb {
    margin: 100px 20px;
    border: 1px solid rgba(0,0,0,0.06);
    padding: 50px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom ul {
    margin: 0;
}

.footer-bottom ul li {
    display: inline-flex;
    padding: 0 10px;
    font-size: 12px;
}

.fbo-hero {
    height: 60vh;
}



.fbo-hero .hero-img {
    background-size: cover !important;
    background-position: 50% 65% !important;
}

@media (max-height: 768px) {
    .fbo-hero .hero-img {
        background-position: 50% 50% !important;
    }
}

@media (min-width: 1250px) {
    .fbo-hero {
        height: 70vh;
    }
}

.keystone-contact-meta, .contact-air-cta {
    flex-direction: row;
}

@media (max-width: 576px) {
    .keystone-contact-meta, .contact-air-cta {
        flex-direction: column;
    }
    form label select {
        width: 100% !important;
    }
}

.image-gallery-content.fullscreen .image-gallery-image, .image-gallery-content.fullscreen .image-gallery-image img {
    height: 100vh;
    max-height: 100vh;
    object-fit: contain;
}

.customer-login {
    margin: 0;
    position: relative;
    padding: 7px 10px 7px 40px;
    margin-left: 40px;
    min-width: 125px;
}

@media (max-width: 768px) {
    .customer-login {
        display: none;
    }
}

.customer-login .customer-login-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.customer-login .login-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
}

.customer-login span em {
    font-size: 11px;
    font-weight: 500 !important;
    font-style: normal;
}

.customer-login span strong {
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.post-element-class {
    width: 100%;
}

.keystone-address,
.keystone-address:hover,
.location-contact-address,
.location-contact-address:hover,
.location-contact-phone,
.location-contact-phone:hover {
    color: white !important;
}

#desktop_views
{
	display: block;
}
#mobile_views
{
	display: none;
}

.post-date.linkedin-date 
{
	margin-bottom: 5px !important;
	padding: 10px 15px 0 !important;
	color: #0b559c;
}
.loading_page {
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:9999;
}
.loading_page .loading-img {
	position:fixed;
	top:50%;
	left:50%;
	width:40px;
	height:40px;
	margin-top:-20px;
	margin-left:-20px;
}
.loading_page .loading-img img {
	width:40px;
}
@media (max-width: 767px) {
    .careers-btn-new{
        margin-left:0px;
    }
    .bggry{
        float: left;
        margin-bottom: 10px;
        }
        .bggry span{
        width: 100%;
        float: left;
        }
        
        .bggry span a{
        width: 100%;
        float: left;
        margin-top: 13px;
        }
    #desktop_views
    {
		display: none;
    }
    #mobile_views
    {
		display: block;
    }
}
@media (min-width: 767px) {
    .post-element-class {
        width: 50%;
    }
}

.bggry{
    background-color: #8b8b8b;
    text-align: center; 
    width:100%;
    padding: 30px;

}
.spam-text{
    color:#fff;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
}
.careers-btn{
    background-color: #e2383f;
    display: inline-block;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 20px 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
}
.careers-btn-new:hover { 
    filter: brightness(85%);
    cursor: pointer;
  }
  .careers-btn-new{
    background-color: #e2383f;
	display: inline-block;
	font-size: 18px;
	border: none;
	color: #fff;
	padding: 12px 30px 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	height: 70px;
	line-height: 36px;
  }
  .careers-btn-new svg{position:relative; top:11px; left:10px;}
  .consents .container{
    display: none;
  }


