.main {
    overflow: hidden;
}

.main,
.scroller {
    height: 100%;
    margin-top: 100px;
}

.scroller {
    overflow-y: scroll;
}

.scroller,
.scroller-inner {
    position: relative;
}

#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}

.scrolled {
    background-color: rgba(255, 255, 255, 0.85) !important;
    transition: background-color 200ms linear;
}

#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 25px 0;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    right: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: #0b559c;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    right: -60px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding: 20px 40px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: fixed;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
    right: -100%;
    height:514px;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 32px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}

@media (max-width: 768px) {
    
    #menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
        font-size: 12px;
    }

    .accordion-toggle, .accordion-content {
        font-size: 14px;
    }
}

#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

#menu-container .menu-list li:last-of-type {
    border-bottom: 1px solid #dbdcd2;
}

.menu-submenu li:last-child {
    border-bottom: 0 !important;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

.accordion-content {
    display: none;
}

.accordion-toggle a::before, .accordion-toggle a::after {
    pointer-events: none;
}

.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #5a5858;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle.active-tab {
    background: #0b559c;
    transition: all 0.3s ease;
}

.accordion-toggle a.active {
    color: white;
}

.accordion-toggle a.active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}

.menu {
     display: flex;
     align-items: center;
     justify-content: center;
}
.is-bah{visibility: hidden;}

#ReactGridGallery .ReactGridGallery_tile .ReactGridGallery_tile-viewport img {object-fit:cover;}
#menu-container .menu-list li:last-of-type a:before, #menu-container .menu-list li:last-of-type a:after{opacity:0}
